body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:powderblue ;
}

.cursor-demolicion {
    cursor: url("/textures/hammer1redim.png"), auto;
}

#mapa{
    display: grid;
    gap: 2px;

    width: min(800px, 80vw);
    aspect-ratio: 1 / 1;
}

#nombreCiudad{
    text-align: center;
}


.panel-edificio{
    position:absolute;
    right:20px;
    top:80px;

    width:200px;
    padding:15px;

    background:#c8c8cf;
    color:rgb(0, 0, 0);

    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

#cerrarPanel{
    border: 1px solid black;
    padding: 2px 6px;
    font-size: 12px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#btnDemolerPanel{
    border: 1px solid #c0392b;
    color: #c0392b;
    background: transparent;

    padding: 4px 8px;
    font-size: 15px;

    border-radius: 4px;
    cursor: pointer;

    transition: all 0.2s ease;
}

#btnDemolerPanel:hover{
    background: #c0392b;
    color: white;
}

#btnExportar{
    background-color:gold;
    color: black;
    border: none;
}

.btn-light{
    background-color: #6ed43b;
}

.celda.origen {
    background-color: #c0392b; /* rojo */
}

.celda.destino {
    background-color: #c0392b; /* rojo */
}

.celda.ruta {
    border: solid;
    transition: background-color 0.2s;
    transition: border 0.2s; /* opcional para animar */
}

.oculto{
    display:none;
}

.container-labels{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.celda{
    background: green;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* via */

.celda[subtype="r"]{
    background-image: url("/textures/via.webp");
    background-size: cover;
}

/* residenciales */

.celda[subtype="R1"]{
    background-image: url("/textures/casa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.celda[subtype="R2"]{
    background-image: url("/textures/apartamento.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* comerciales */

.celda[subtype="C1"]{
    background-image: url("/textures/tienda.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.celda[subtype="C2"]{
    background-image: url("/textures/centro-comercial.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* industriales */

.celda[subtype="I1"]{
    background-image: url("/textures/fabrica1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.celda[subtype="I2"]{
    background-image: url("/textures/granja.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* planta servicios */

.celda[subtype="S1"]{
    background-image: url("/textures/policia-estacion.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.celda[subtype="S2"]{
    background-image: url("/textures/estacion-bomberos.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.celda[subtype="S3"]{
    background-image: url("/textures/hospital.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* plantas utilidad */

.celda[subtype="U1"]{
    background-image: url("/textures/planta-electrica.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.celda[subtype="U2"]{
    background-image: url("/textures/planta-agua.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* parque */

.celda[subtype="P1"]{
    background-image: url("/textures/parque.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}